language: java
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/
deploy:
- provider: script
  script: ./gradlew bintrayUpload
  skip_cleanup: true
  on:
    tags: true
- provider: releases
  api_key:
    secure: ThB/bcbQkiOGH7KnPxHSY+AX/jRohOG7RY7caJWh9UKeoAKKF/mD4mrUiqKnSa7WCcRPc/3ioaByueuydtwobqLCWFCa1cfU29ASiXe3wEoxWATSomzhHjyBI494ViJJHQlzr14rd7OC5TxqaqUoYtoWMAtQLy3NMAw5wY37I0Z7A7dJKkhejYXZy8LMqsK2f6slF4QrRCKYCehg/5+Rs+X+1iwrHQy5U52ZqybOpjTmobwABqz/yL2tdf/VE1axRAxNnTYcoln+K5wK3tmTYKONRj++2hiUzOrPJD6yXJJErCe3hfSVU0nYdRnzao/Gwy3RsecN8kl/TQIX2IJpg+CPuXmaZJi54jJfslLTaQIOftQ7k9XlyVmO7bIIg4Rw/hmmUuDIUiaHbVrGZPPN2fqhy+sA1nal3CFYCx/JxOKg7bCNFn//hVLUgs8ma7TdXwGUXWR2WtPozUkVTl9sB4QhSxa6Zu0ajI1QJRnHfPFea3q8v+JXD4frsEDCY3NSEbKXyozQ6qVvjPZiJdu+9F3QHqfNLKo7ey5gnqLgfRPdPAyxRnhGtvDYgIcxKK3O9xA7SzCZnkd3KTx6gufNYZSgxLXWLwuQx4TvBgxrrCncliaePiGZuXGDBimQUaVLTLGMerd142lR7NrxMnHZdqMlYQdfuk1DP8Pjgmwtjc4=
  file_glob: true
  file: build/libs/document-management-client-*.jar
  skip_cleanup: true
  on:
    tags: true
env:
  global:
  - secure: C9bLYtBm1MnWkcB688b/S1GbF4G52mn2M+OnwUf4aNtp3x+brEUDTr5c73ColTIjPgop/k6Fzhbe2zbjJG0woa8tT83hiBiaZ5LbwS0dFiRvrvIJoXFCtasWRF9mCYF8R0jBFJRJxzHnzKaNUUMBAiQU7q42eDBA4zhqILzUrXrX42R+565kkQFuV64Eb95xlbWg7IdaCXZ+QNrUBy9VeFN3eAIv1pSHPr5OOnMOmTdhSAejXxjhPmBwIHBcsxj3UuUXUv9z/OsTkZuLUNecjZVnrwuAzzs0Rhyo9r5caSr9jc10vYBlcXE5loqUuyTGk+CMECNPgnTKZKFoOuBALhM1LCfvLXUgtfEaEb60IZH5LaL1ukPex84irUdTXyZmM8GUVF5NVUNLvlLrzPFw4wKkK8UZpA+n1/w1NotU3oBaJlRL8Z8crkEfEXkCmPjWX14MGx84wX1ljbX8h/QLC7Eb88rYdSANCRmPrsS0OJfY+yWTJC1BqFniIidQzSTB0ff1LL4l/L+7frLDJgga6gC0O2e1ICb/yAI7uR2iKC8Hj0UeKdTjhXD2NTjhlcoP1tGhKgmCPsK+sm9inH3pn31QdCzZPYP5sTHqdZ6tyvbIPREZfUs/vRf2C9S7uGfCxu5+JF03oxSKVZ3yL/IvAyoz6Ap6XwGDvu7B5hBbTbw=
  - secure: qDum+GOg1l7/Xz4DsyN3lx2V4qP0ICEhY1MLl5Hln+Err9smNQqd4A+NQVm1XQvDDMm39077IPCDJCpIknE+jjCjwXsSPxRdSbdmPuHfSbLB4A1T88rCa8EBy21+HRoQPR8LMZlwW2BPFyO6c5N5FPwFGksjL8eApQbjJZwmg9XlsOyp2ewR4LE4sxA/Rl+g1Tj2flOi26DR/3zxgUREdRVeDpanMSQOxnqi1oydCbohqErMjlGm+rd47wvgdldElAJ+eeSwnDpSo2aq35J76VfOULMhZqypN2rjiXiyC0ZV6jmAOteODkZXri5yxAXOi7xRYkjwid4XmpEjkQ5rLoqAJNG1VC9KUkgMZPlkNOP0kITc3vinaa163DKIVcCWxZXdxp5AY7bItUlomwX2DokNpfa4gRBO8I30ft01BEYLu9nbzAlwQoo54kQf8f+su3NVa9Ayg6R5+rw9NkGK0expbf5OLG1r0CQweggFeNoV0bMHsuUgk8VwFYoPxrcgnL3zbE9YGDMLi+Z7B4PUOTPwjKAmYDY9fTuLkcZXsRXjFMPnb7jKX7kdCzUD5cNjJMBVTonhIUno4oLKpd3oD5ncIKsRPVG5tvI4acVEdg8n86aft1LP3DwPx1U+oEe99VA7kZ0zbHUWxL4CPlqByGK6zX7N6qftD7WBJ7uJc/8=
